{{!< default}}




<link type="text/css" rel="stylesheet" property="stylesheet" href="/styles/site/mixer.css" />

<div class="container">

		<h2>Play, record and share homegrown music with friends on <span class="mblue">twang</span><span class="mgreen">band</span>.</h2>

		<hr>
</div>

<div>
    <p align="center">
        <a href="http://www.mozilla.org/en-US/" title="Download the Mozilla Firefox Web Browser" target="_blank"><img src="/img/firefoxLogo.png" alt="Download the Mozilla Firefox Web Browser" height="71" border="0" width="204"></a>&nbsp;&nbsp; <a href="https://www.google.com/intl/en/chrome/#cds" title="Download the Google Chrome Web Browser" target="_blank"><img src="/img/chromeLogo.png" alt="Download the Google Chrome Web Browser" height="69" border="0" width="251"></a>
        <br />We currently only support Google Chrome and Firefox

    </p>
</div>
