{{!< default}}




<link type="text/css" rel="stylesheet" property="stylesheet" href="/styles/site/mixer.css" />

<div class="container">
	<div class="jumbotron">
		<h1>welcome to <span class="mblue">music</span><span class="mgreen">ilo</span>!</h1>
		<p><span class="mblue">music</span><span class="mgreen">ilo</span> is where musicians from around the world play, record and mix their music together online.</p>


        {{#if user}}
            You are already logged in as  {{user.name.first}} {{user.name.last}} <img src="/uploads/users/profile/{{user.id}}.jpg" />
        {{/if}}
        {{#unless user}}
            <p><a href="/login" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a></p>
        {{/unless}}
		<hr>


	</div>
</div>

<div>
    <p align="center">
        <a href="http://www.mozilla.org/en-US/" title="Download the Mozilla Firefox Web Browser" target="_blank"><img src="/img/firefoxLogo.png" alt="Download the Mozilla Firefox Web Browser" height="71" border="0" width="204"></a>&nbsp;&nbsp; <a href="https://www.google.com/intl/en/chrome/#cds" title="Download the Google Chrome Web Browser" target="_blank"><img src="/img/chromeLogo.png" alt="Download the Google Chrome Web Browser" height="69" border="0" width="251"></a>
        <br />We currently only support Google Chrome and Firefox

    </p>
</div>
