{{!< default}}




<link type="text/css" rel="stylesheet" property="stylesheet" href="/styles/site/mixer.css" />

<div class="container">
	<div class="jumbotron">
		<h1>welcome to <span class="mblue">music</span><span class="mgreen">ilo</span>!</h1>
		<p><span class="mblue">music</span><span class="mgreen">ilo</span> is where musicians from around the world play, record and mix their music together online.</p>


        {{#if user}}
            You are already logged in as  {{user.name.first}}
        {{/if}}
        {{#unless user}}
            <p><a href="/login" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a></p>
        {{/unless}}
		<hr>

		<p>
			<!--Footer-->
			
		</p>
	</div>
</div>
