{{!< default}}

<script type="text/javascript">
    WebFontConfig = {
        google: { families: [ 'Caveat+Brush::latin' ] }
    };
    (function() {
        var wf = document.createElement('script');
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })(); </script>


<div class="container">
    <div class="row" style="text-align:center">
        <h2>Play, record and share homegrown music with friends on <span class="mblue">twang</span><span class="mgreen">band</span>.</h2>
    </div>
    <div class="row">

        <div class="col-md-4">

                <img src="/img/guitarPlayer300x300.png" alt="Arthel lives in North Carolina and plays guitar"/>


        </div>
        <div class="col-md-4">

                <img src="/img/banjoPlayer300x300.png" alt="Tony lives in Colorado and plays banjo"/>


        </div>
        <div class="col-md-4">

                <img src="/img/mixedTracks300x300.png" alt="They record music together on twangband.com"/>


        </div>
    </div>

</div>
