{{!< auth}}
<div class="auth-wrapper">
    <div class="alert alert-placeholder">
        {{#if messages}}
        {{messages.error}}
        {{/if}}

    </div>
    <div class="auth-body">
        <h1 class="sr-only">Sign In</h1>
        <div class="auth-box">
            <div class="auth-box-col">
                <div class="auth-box-brand"><a href="/" class="auth-box-logo"><img src="/keystone/images/logo.png" width="205" height="68" alt="cluckoldhen"></a>
                </div>
            </div>
            <div class="auth-box-col">
                You have been logged out. <a href="/login">Click here to login.</a>

            </div>
        </div>
    </div>