{{!< default}}


<div id="app" class="container" ng-app="app" ng-controller="myCtrl">

    <div id="consoleForms" style="display:none;">
        <div id="songInfo">

            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="songName">Song Name</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="songName" ng-model="songName"
                           placeholder="Enter a name for this song"/>
                </div>
                <div class="col-sm-4">
                    <label for="songName">Description</label>
                </div>
                <div class="col-sm-8">
                                <textarea class="form-control" id="songDescription" ng-model="songDescription"
                                          placeholder="Enter a description for this song"></textarea>
                </div>


            </div>
        </div>
    </div>

    <div id="masterTools" class="row">


        <table style="margin-left: auto; margin-right: auto; text-align:center;">
            <tr>
                <td>
<a href="#" onclick="toggleEditSong();" ><span ng-bind="songName" class="glyphicon glyphicon-pencil"></span></a>

                    <button id="bcollaborators" type="button" class="btn btn-default btn-sm"
                            onclick="toggleCollaboratorDialog();"
                            title="Find collaborators to add tracks to this song"
                            >
                        <span class="glyphicon glyphicon-user"></span>
                    </button>

                    <button id="bsaveSong" type="button" class="btn btn-default btn-sm"
                            onclick="saveSong();"
                            title="Save song"
                            >
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>

                    <button id="bplay" type="button" class="btn btn-default btn-sm"
                            onclick="playAllTracks(0);"
                            title="Play song"
                            disabled>
                        <span class="glyphicon glyphicon-play"></span>
                    </button>

                    <button id="bpause"
                            onclick="pauseAllTracks();"
                            title="Pause Song"
                            disabled type="button"
                            class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pause"></span>
                    </button>

                    <button id="bstop"
                            onclick="stopAllTracks();"
                            title="Stop playing"
                            type="button" class="btn btn-default btn-sm" disabled>
                        <span class="glyphicon glyphicon-stop"></span>
                    </button>

                    <button id="brecordMix"
                            onclick="toggleCollaboratorDialog(true); if(!AUDIO_INITIALIZED){initAudio();} else { toggleRecording(this);}" type="button"
                            title="Click to start recording."
                            class="btn btn-default btn-sm" disabled>
                        <span class="glyphicon glyphicon-record"></span>
                    </button>

                    <span id="volume">
                        <button id="bsound"
                                onclick="masterMuteUnmute(this);"
                                title="Mute song"
                                type="button"
                                class="btn btn-default btn-sm master">
                            <span class="glyphicon glyphicon-volume-up"></span>
                        </button>

                        <span id='masterVolumeSpan'><input type='range' class = 'volumeSlider' id='masterVolume' min='0' max = '100' value='100' oninput='changeMasterVolume();'/></span>

			        </span>
                </td>
            </tr>

        </table>
    </div>

    <div class="row">

        <div id="recordingDialog" style="display:none;">
            <div id="timer" class="col-lg-12"></div>
        </div>

        <div id="recordingWav" style="display:none;">
            <div id="viz" class="col-lg-12">
                <canvas id="analyser" width="500" height="200"></canvas>
            </div>
        </div>


        <div id="searchUsers" class="col-lg-12" style="display:none;">
            <div class="row">
                <div class="col-sm-2"><h3>Song Collaborators: </h3></div>
                <div class="col-sm-10" id="collaborators"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <h3>Invite folks to record with you</h3>
                </div>
            </div>
            <div class="form-group row">

                <div class="col-sm-3">
                    <input type="text" class="form-control" id="searchFirstName" ng-model="searchFirstName"
                           placeholder="First Name"/>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="searchLastName" ng-model="searchLastName"
                           placeholder="Last Name"/>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="searchEmail" ng-model="searchEmail"
                           placeholder="email"/>
                </div>
                <div class="col-sm-3">
                    <button id="btn_searchCollaborators" type="button" class="btn btn-default btn-lg"
                            onclick="searchCollaborators();">
                        <span class="glyphicon glyphicon-search"
                              style="vertical-align:middle; display: inline-block"></span>
                    </button>
                </div>

            </div>
            <div id="searchUsersData" class="row"></div>
        </div>





<div style="display:none;"><!--can show the equalizer that mt5 produces-->  <canvas id="waveCanvas"></canvas></div>



    </div>


    <div id="scroll" class="row" style="overflow-x:auto; overflow-y: scroll; padding-bottom:10px;">
        <div id="trackControl">

            <table id="tracks">
                <th id="tracksControler"></th>
                <th id="tracksTopRowId" name="trackstTopRow"></th>

            </table>
            <canvas id="frontCanvas" style="z-index: 1"></canvas>
        </div>

        <div id="canvass">
            <div style="position: relative; ">
                <canvas id="myCanvas" width="4002" height="400" style="display:none;"></canvas>

            </div>
        </div>
        <!--
        <div id="canvass">
            <div style="position: relative;">
                <canvas id="myCanvas" width="602" height="400" style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
                <canvas id="frontCanvas"                       style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
            </div>
        </div>
-->
    </div>




</div>

<div class="row">
    <br />
    <p align="center">
         <a href="http://www.mozilla.org/en-US/" title="Download the Mozilla Firefox Web Browser" target="_blank"><img src="/img/firefoxLogo.png" alt="Download the Mozilla Firefox Web Browser" height="71" border="0" width="204"></a>&nbsp;&nbsp; <a href="https://www.google.com/intl/en/chrome/#cds" title="Download the Google Chrome Web Browser" target="_blank"><img src="/img/chromeLogo.png" alt="Download the Google Chrome Web Browser" height="69" border="0" width="251"></a>
        <br />We currently only support Google Chrome and Firefox

    </p>
</div>

<ascript src="http://cwilso.github.io/AudioContext-MonkeyPatch/AudioContextMonkeyPatch.js"></ascript>

<script src="js/lib/mt5/view.js"></script>
<script src="js/lib/mt5/waveformDrawer.js"></script>
<script src="js/lib/mt5/track.js"></script>
<script src="js/lib/mt5/song.js"></script>
<script src="js/lib/mt5/buffer-loader.js"></script>
<script src="js/lib/mt5/sound.js"></script>
<script src="js/lib/mt5/jquery.knob.js"></script>
<script src="js/lib/mt5/knob.js"></script>
<script src="js/lib/mt5/utils.js"></script>
<script src="js/lib/mt5/canvasArrows.js"></script>
<script src="js/lib/mt5/range-touch.js"></script>
<script src="js/mixerUtils.js"></script>
<script src="js/lib/angular/angular.min.js"></script>

<script src="js/lib/models/SongDto.js"></script>
<script src="js/lib/models/TrackDto.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="styles/mt5/style.css"/>
<script language="JavaScript">

        {{#if songJSON}}
        var songDto = {{{songJSON}}};
        {{/if}}

        {{#unless songJSON}}
        var songDto = null;
        {{/unless}}

        {{#if user}}
        var user = {{{json user}}};
        {{/if}}

        {{#unless user}}
        var user = null;
        {{/unless}}

    $(document).ready(function () {
        init(songDto);

    });

    var app = angular.module('app', []);

    app.controller('myCtrl', function ($scope) {


        if (songDto != null) {
            console.log("setting scope variables with name: " + songDto.name);
            $scope.songName = songDto.name;

        }

    });

</script>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                Musicilo
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" >
                <p id="notificationBody"></p>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-default" data-dismiss="modal" value="Close">Close</button>
            </div>
        </div>

    </div>
</div>

