{{!< auth}}
    <div class="auth-wrapper">
      <div class="auth-body">
        <h1 class="sr-only">sign in</h1>
        <div class="auth-box">
          <div class="auth-box-col">
            <div>
                <h1><span class="mblue">music</span><span class="mgreen">ilo</span><br/>sign in</h1>
            </div>
              <p><a href="/forgot">Forgot Your Password?</a></p>
              <p><a href="/">home</a></p>
          </div>
          <div class="auth-box-col">
          
            {{#if user}}
			  You are already logged in as {{user.firstName}}
			{{/if}}
			{{#unless user}}


            <form method="post" action="/auth/local" novalidate class="auth-form">
              <input type="hidden" name="{{csrf_token_key}}" value="{{csrf_token_value}}">
              <div class="form-group">
                <label for="username">Email</label>
                <input type="text" name="username" id="username" class="form-control">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary">Sign In!</button>
            </form>

            <br />
            <div class='social_logins'>
            	<a href="/auth/facebook"><img src="/images/facebook_login.png" /></a>
            </div>
            {{/unless}}
          </div>
        </div>
      </div>
    </div>