{{!< default}}

<div class="container">

    {{> songNav }}

    <div class="row">
        <div class="col-md-12 page-header"><h1>{{title}}</h1></div>
    </div>

    {{#if songs}}
        {{#each songSearchResults}}
            {{> songSearchResult searchResult=this}}
        {{/each}}


        {{#unless songs}}
                <div class="row"><span class="searchNoInfo">No songs found...</span></div>
        {{/unless}}
    {{/if}}

    {{#if trackSearchResults}}
        {{#each trackSearchResults}}
            {{> trackSearchResult searchResult=this}}
        {{/each}}


        {{#unless tracks}}
            <div class="row"><span class="searchNoInfo">No tracks found...</span></div>
        {{/unless}}
    {{/if}}

</div>



{{#if songs}}
    {{> songSearchWavJS songDtos=songs}}
{{/if}}
{{#if tracks}}
    {{> songSearchWavJS songDtos=tracks}}
{{/if}}
{{> userProfileDialog }}

{{> createSongFromTrackDialog }}

<script src="/js/lib/wavesurfer/wavesurfer.min.js"></script>
<script src="/js/lib/wavesurfer/wavesurfer.regions.js"></script>
<script src="/js/lib/util/Logger.js"></script>
<script src="js/lib/models/SongDto.js"></script>
<script src="js/lib/models/TrackDto.js"></script>
<script src="js/lib/models/SongTrackDto.js"></script>
<script src="js/lib/validation/SongValidation.js"></script>
<script src="/js/lib/dialogs/NewSongDialog.js"></script>


<script language="JavaScript">
    var log = new Logger('DEBUG');
    var template = Handlebars.compile($("#userProfilePartial").html());
    var showUserProfile = function(userDto){

        log.debug('enter showUserProfile with: ' + JSON.stringify(userDto));
        var context = {};
        context.userDto = userDto;
        log.debug('template: ' + template(context));
        $('#userProfileBody').html(template(context));
        $('#userProfileDialog').modal('toggle');

    };
</script>