{{!< default}}

<div class="container">

    {{> songNav }}

    <div class="row">
        <div class="col-md-12 page-header"><h1>{{title}}</h1></div>
    </div>

    {{#if showSongs}}

        {{#if songSearchResults}}
            {{#each songSearchResults}}
                {{> songSearchResult searchResult=this}}
            {{/each}}

        {{/if}}

        {{#unless songSearchResults}}
            <div class="row"><span class="searchNoInfo">No songs found...</span></div>
        {{/unless}}
    {{/if}}

    {{#if showTracks}}
        <div class="row" style="padding:5px;">
            <div class="col-md-8 col-lg-8 col-sm-12">
                {{> searchTrackForm }}
            </div>
        </div>
        {{#if trackSearchResults}}
            {{#each trackSearchResults}}
                {{> trackSearchResult searchResult=this}}
            {{/each}}

        {{/if}}
        {{#unless trackSearchResults}}
            <div class="row"><span class="searchNoInfo">No tracks found...</span></div>
        {{/unless}}
    {{/if}}


</div>


{{#if songs}}
    {{> songSearchWavJS songDtos=songs}}
{{/if}}
{{#if tracks}}
    {{> songSearchWavJS songDtos=tracks}}
{{/if}}

{{> songInfoDialog }}
{{> userProfileDialog}}
{{> createSongFromTrackDialog }}

<script src="/js/lib/wavesurfer/wavesurfer.min.js"></script>
<script src="/js/lib/wavesurfer/wavesurfer.regions.js"></script>
<script src="/js/lib/util/Logger.js"></script>
<script src="js/lib/models/SongDto.js"></script>
<script src="js/lib/models/TrackDto.js"></script>
<script src="js/lib/models/SongTrackDto.js"></script>
<script src="js/lib/validation/SongValidation.js"></script>
<script src="/js/lib/dialogs/NewSongDialog.js"></script>
<script src="/js/lib/dialogs/SongInfoDialog.js"></script>
<script src="/js/lib/dialogs/UserProfileDialog.js"></script>

