<script id="songCollaboratorResultsPartial" type="text/x-handlebars-template" xmlns="http://www.w3.org/1999/html">
    <div class="mixerSelectedCollaboratorResults">
        \{{#if collaborators}}
        <div class="col-sm-2"><h5>Collaborators: </h5></div>
        <div class="col-sm-10" id="collaborators">

            \{{#each collaborators}}
            <div class="col-sm-2" id="mixerCollaborator_\{{id}}">
                <div style="float:left"> \{{> musicianInfoIcon userDto=this}}</div>
                <div style="float:left"><a href="#" onclick="tb.dialogs.mixer.removeCollaborator('\{{id}}');" alt="Remove"><span
                        class="glyphicon glyphicon-remove-circle"></span></a></div> \{{firstName}}

            </div>
            \{{/each}}
        </div>
        \{{/if}}

    </div>
</script>
