
<script id="tagInfoPartial" type="text/x-handlebars-template" xmlns="http://www.w3.org/1999/html">
<div class="tagInfoIcon">
    <button type="button" class="btn btn-primary btn-xs" onclick="SearchUtil.searchByTags('\{{ tag }}')">\{{ tag }}</button>
</div>
</script>
