<!-- start user profile partial -->
<script id="userProfilePartial" type="text/x-handlebars-template">
    <div class="person userProfilePopup">
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="close" id="modalXCloseBtn">&times;</button>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img src="/uploads/users/profile/\{{userDto.profilePic}}" width="75" height="75"/>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row"><h4>\{{userDto.firstName}} \{{userDto.lastName}}</h4></div>
                <div class="row">
                    <div class="userProfileTags">
                        \{{#each userDto.tags}}
                        <button type="button" class="btn btn-primary btn-xs" disabled>\{{ this }}</button>
                        \{{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- end user profile partial -->