@twangBlue: #3875d7;
@twangGreen: #299a33;

body {
  color : #112233;
  margin: 5px;
}

#header {
	margin-top: 5px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid @gray-lighter;
	padding-top: 30px;
	color: @gray-light;
}

h1{
  color: @title-color;
  font-weight: bold;
  font-size: 26px;
  padding: 1px;
}

h2{
  color: @title-color;
  font-weight: bold;
  font-size: 22px;
  padding: 1px;
}

h3{
  color: @title-color;
  font-weight: bold;
  font-size: 18px;
  padding: 1px;
}

h4{
  color: @title-color;
  font-weight: bold;
  font-size: 16px;
  padding: 1px;
}

h4{
  color: @gray;
  font-weight: bold;
  font-size: 14px;
  padding: 1px;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.social_logins {
	padding-top: 5px;
}

.mblue {
  color : #3875d7;
}

.mgreen {
  color : #299a33;
}

.centeredBox {
  color: @gray-light;
  float: none;
  margin: 0 auto;
}

.modalNotificationBody {
  padding: 5px
}

.modalNotificationFooter {
  padding-top: 3px;
  text-align: center;
}

.homeNarrativeBlue {
  background-color:#ffffff ;
  color: @twangBlue;
  font-family: caveat brush;

  text-align: center;
  font-size: 18px;
  height:50px;
  padding: 8px;
}

.homeNarrativeGreen {
  background-color: #ffffff;
  color: @twangGreen;
  font-family: caveat brush;

  text-align: center;
  font-size: 18px;
  height:50px;
  padding: 8px;
}