.trackName {
    padding-left: 3px;
}

.trackData {
    padding:0px;
}

.trackRow {
    background: #EEE;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.thumbnail {

    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline;
    padding: 2px;
}

.thumbnailSmall {

    width: 30px;
    height: 30px;
    overflow: hidden;
    display: inline;
    padding: 2px;
}

.activated {
    color: #299a33;
    border: 2px solid #299a33;
}

.searchNoInfo {

    color: gainsboro;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    padding: 8px;
}

.searchSongName {
    font-weight: bold;
    font-size: 18px;
}

.searchResultSubTitle1 {
    padding:5px;
    border:1px;
    float:left;
    background: gainsboro;
    color:white;
    height:30px;
}

.searchResultSubContent1 {
    padding:5px;
    float:left;
    background: gainsboro;
    color:white;
}

.searchResultSubContent2 {
    padding:5px;
    display:block;
    background:white;
    color:#656e81;
}

.tagInfoIcon {
    padding:1px;
    float:left;
    background:white;
}

#recordingDialog {
    padding: 5px;
    text-align: center;
    font-size: 24px;
    color: #5f5f5f;
}


#viz {
    height: 80%;
    width: 100%;
    display: flex;
    background: #202020;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



#masterTools {
    padding: 5px;
    background: #EEE;
    border: 1px solid grey;

}

#app {
    //width: 980px;
    margin: auto;
    background: #EEE;
}

